#line{
    border: 3px solid #dbb313;
    border-radius: 7px;
    width: 70px;
    background-color: #dbb313;
}
#bg{
    background-color: rgb(31, 31, 31);
}
#bg1{
   background-color:  rgb(41 40 40);
}